/* General Styles */


.home-page {
    display: flex;
    height: 100%;
    width: 100%;
}

.add-btn {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.add-btn:hover {
    background-color: #a31818;
    padding-left: 5px;
    transition: all 0.3s ease;
}

.content {
    flex-grow: 1;
    padding: 20px; /* Added padding to create space */
    background-color: #f4f4f4;
    overflow-y: auto;
    box-sizing: border-box; /* Prevent content overflow */
    height: 100vh;
}

.content h1 {
    color: #b22222;
    font-size: 32px;
    margin-bottom: 10px;
}

.content p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.features {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features h2 {
    color: #b22222;
    font-size: 24px;
    margin-bottom: 15px;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features ul li {
    font-size: 18px;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.features ul li:hover {
    background-color: #f1f1f1;
}
